extends ../_layout

block scripts
    script(src="/node_modules/angular/angular.js")
    script(src="/node_modules/angular-resource/angular-resource.js")
    script(src="/public/sr-assessments/quick-test/quick-test.module.js")
    script(src="/public/sr-assessments/quick-test/quick-test.component.js")
    script(src="/public/sr-assessments/quick-test/quick-test.service.js")

block head
    link(
        rel='stylesheet',
        href='/styles/assessment.css')
    title Quick HTML test

block content
    main(
        ng-app="quickTest",
        ng-controller="quickTestController")
        div.header
            h1 Quick HTML test
        div.content.box
            div.question
                h2 1. What does HTML stand for?
                label.label
                    input(
                        type='radio',
                        name='question1',
                        value='1',
                        ng-model="questions.answer_1")
                    span Hyper Text Markup Language
                label.label
                    input(
                        type='radio',
                        name='question1',
                        value='2',
                        ng-model="questions.answer_1")
                    span Home Tool Markup Language
                label.label
                    input(
                        type='radio',
                        name='question1',
                        value='3',
                        ng-model="questions.answer_1")
                    span Hyperlinks and Text Markup Language
            div.question
                h2 2. Choose the correct HTML element for the largest heading:
                label.label
                    input(
                        type='radio',
                        name='question2',
                        value='1',
                        ng-model="questions.answer_2")
                    span.code &lt;head&gt;
                label.label
                    input(
                        type='radio',
                        name='question2',
                        value='2',
                        ng-model="questions.answer_2")
                    span.code &lt;h1&gt;
                label.label
                    input(
                        type='radio',
                        name='question2',
                        value='3',
                        ng-model="questions.answer_2")
                    span.code &lt;heading&gt;
                label.label
                    input(
                        type='radio',
                        name='question2',
                        value='4',
                        ng-model="questions.answer_2")
                    span.code &lt;h6&gt;
            div.question
                h2 3. What is the correct HTML element for inserting a line break?
                label.label
                    input(
                        type='radio',
                        name='question3',
                        value='1',
                        ng-model="questions.answer_3")
                    span.code &lt;break&gt;
                label.label
                    input(
                        type='radio',
                        name='question3',
                        value='2',
                        ng-model="questions.answer_3")
                    span.code &lt;lb&gt;
                label.label
                    input(
                        type='radio',
                        name='question3',
                        value='3',
                        ng-model="questions.answer_3")
                    span.code &lt;br&gt;
            div.button-container
                button.submit-button(ng-click="submitAnswers()") Submit
